- path = controller.controller_name
- path = "admin/#{path}" if controller.class.to_s.starts_with?("Admin::")

%h4 Keyword Search
%div{ :style => "margin: 0px 0px 6px 0px" }
  = text_field_tag("keyQuery", @current_query, :size => 23)
  = observe_field("keyQuery", :frequency => 0.75, :function => "crm.searchkw(value, '#{path}')")